nav.items-center,
footer,
xxx { display: none !important; }

* {
    border: none !important;
    box-shadow: none !important;
}

div#__next,
html {
    background-image: var(--rwall-dim) !important;
    background-attachment: fixed !important;
    background-size: 1920px !important;
    background-position: -70px -150px !important;
}

:is(.dark .dark\:bg-slate-700) {
    background-color: #0000 !important;
}

div,
div.box.lg,
main#main.pb-6 {
    background: #0000 !important;
}
