img.lnXdpd, /* google logo */
div.o3j99.c93Gbe, /* footer */
center, /* im feeling lucky */
a.MV3Tnb, /* about store */
.gb_f, /* upper bar */
.Gdd5U, /* google images icon */
.goxjub, /* search with voice */
svg, /* search icon (and more) */
.MG7lrf, /* report innapropriate predictions */
div.logo, /* the logo obviously */
#result-stats, /* xxx results returned in xxx seconds */
.oYWfcb, /* view more on yt results */
.CvDJxb.minidiv, .Lj9fsd.DU1Mzb, /* the goofy ahhh search bar that follows u down */
.nKHyTc, /* feedback button thing */
.KFFQ0c .YfftMc div, /* about featured snippets */
.fKmH1e, /* more filters */
.ZXJQ7c, .nfSF8e, /* tools */
.F75bid, /* safesearch */
span.W7GCoc, /* feedback */
div#slim_appbar, /* spacer bar at top */
.ZFiwCf, .Bi9oQd, /* view more images */
div.dRYYxd, /* buttons at end of search bar to make space */
#SIvCob, /* languages */
.gb_Oa.gb_kd, /* top bar */
div#gb.gb_Pa.gb_ld.gb_gb.gb_i.gb_Oc.gb_vd, /* google services */
xyz { display: none !important; }

/* search box */
.RNNXgb:hover,
.emcav .RNNXgb,
.aajZCb,
.RNNXgb {
    background-image: var(--rwall-blur) !important;
    background-attachment: fixed !important;
    box-shadow: none !important;
    border: none !important;
    background-size: 1920px !important;
    background-position: -70px -150px !important;
}
/* .aajZCb { background-size: 400% !important; } */

/* image subsearches */
span.NQyKp,
.REySof {
    background: #0000 !important;
}

.k8XOCe, /* related searches */
.A6Smgb, /* suggested image search specifications */
.GKS7s, /* tabs on main search page */
.NZmxZe { /* tabs on images tab */
    background: rgba(var(--rrgb-fg), 0.1) !important;
    color: var(--rcol-fg) !important;
}
.NZmxZe:hover {
    background: rgba(var(--rrgb-bg), 0.5) !important;
}
.rQEFy { /* current tab */
    background: rgba(var(--rrgb-bg), 0.8) !important;
}

.sbhl {
    background: rgba(var(--rrgb-fg), 0.1) !important;
}

/* link */
a { color: var(--rcol-blue) !important; }

/* visited link */
a:visited { color: var(--rcol-purple) !important; }

em, /* keywords */
/* highlighted text */
b {
    color: var(--rcol-fg) !important;
    background: rgba(var(--rrgb-purple), 0.1) !important;
}

.gLFyf,
input, /* search bar */
.VuuXrf, /* search result site name */
span { /* just general fg color */
    color: var(--rcol-fg) !important;
}

.ylgVCe,
cite { /* the link below search results */
    color: var(--rcol-mg) !important;
}

/* background */
body {
    background-image: var(--rwall-dim) !important;
    background-attachment: fixed !important;
    background-size: 1920px !important;
    background-position: -70px -150px !important;
}

/* search result container */
div {
    color: var(--rcol-fg) !important;
    background: #0000 !important;
}

/* borders are nasty */
* {
    border: none !important;
    box-shadow: none !important;
}
