* { border: none !important; }

div.gb_Ec,
div.zo,
div.Yb.dIH7rb.bax,
div.gb_5c,
div.aUx,
div.aeN.WR.a6o.anZ.baA.nH.oy8Mbf,
button.gb_Ie.gb_Je.bEP,
button.gb_Oe,
button.gb_Le.IQO5Cf.gb_Ne,
xxx { display: none !important; }

div.nH {
    background-image: var(--rwall-dim);
    background-size: 1730px !important;
    background-position: -63px -137px !important;
    background-attachment: fixed !important;
}

.aqK,
.bkK,
.ar4,
div.nH.ar4.z,
div.nH.bkK { background: #0000 !important; background-image: none !important; }

.z0 > .L3, .z0 > .T-I-KE.L3, /* compose button */
.gb_Nc .gb_Zd /* search bar */
{
    background-image: var(--rwall-blur) !important;
    background-size: 1730px !important;
    background-position: -63px -137px !important;
    background-attachment: fixed !important;
}
.gb_Nc .gb_Zd {/* search bar */
    background-size: 130% !important;
}

div,
input,
.aIH .L3::before,
xxx { color: var(--rcol-fg) !important; }
