* { border-color: #0000 !important; }
div.iNstf { background: #0000 !important; } /* spans the whole screen */
body {
    background-image: var(--rwall-dim) !important;
    background-size: cover !important;
    background-attachment: fixed !important;
}

/* input box */
input {
    background-image: var(--rwall-blur) !important;
    background-attachment: fixed !important;
    background-size: cover !important;
}
.N3Hzgf .snByac {
    color: var(--rcol-fg) !important;
    background: #0000 !important;
}

/* next button */
.nCP5yc:not(:disabled) {
    background: var(--rcol-bg) !important;
}
.nCP5yc:hover {
    background: var(--rcol-t1) !important;
}

/* links */
button, a { color: var(--rcol-blue) !important; }
a:visited { color: var(--rcol-purple) !important; }

.YZrg6,
.fPxNlf, .rhhJr /* the frame in the middle */
{
    background: rgba(var(--rrgb-bg), 0.2) !important;
    color: var(--rcol-fg) !important;
}

/* MG COLOR */
xxx { color: var(--rcol-mg) !important; }

/* FG COLOR */
.N3Hzgf .zHQkBf,
span,
xxx { color: var(--rcol-fg) !important; }

/* removing stuff */
div#logo, /* logo */
div.PrDSKc, /* blurb about incognito mode */
footer, /* duh */
xxx { display: none !important; }
