* {
    border: none !important;
    box-shadow: none !important;
    --color-link: var(--rcol-blue);
    --color-link--hover: var(--rcol-aqua);
    --color-inline-code-background: rgba(var(--rrgb-bg), 0.7) !important;
    --color-background-secondary: rgba(var(--rrgb-bg), 0.7) !important;
    --color-code-background: none !important;
    --color-sidebar-search-background: none !important;
    --color-sidebar-link-text--top-level: var(--rcol-fg) !important;
    --color-sidebar-link-text: var(--rcol-purple) !important;
    --color-sidebar-item-background--hover: rgba(var(--rrgb-fg), 0.1) !important;
    --color-sidebar-item-expander-background--hover: rgba(var(--rrgb-fg), 0.1) !important;
    --color-admonition-title-background--note: rgba(var(--rrgb-fg), 0.1) !important;
    --color-admonition-background: rgba(var(--rrgb-bg), 0.7) !important;
    --color-api-name: var(--rcol-red) !important;
    --color-api-background-hover: rgba(var(--rrgb-red), 0.1) !important;
    --color-header-text: var(--rcol-fg) !important;
}

a.back-to-top,
img.sidebar-logo,
div.content-icon-container,
div.bottom-of-page,
aside.toc-drawer,
div.header-right,
div.header-center,
a.sidebar-brand,
xxx { display: none !important; }

div.page {
    background-image: var(--rwall-dim) !important;
    background-size: cover !important;
    background-attachment: fixed !important;
}

.sidebar-search-container { background: none !important; }
.sidebar-search {
    background-image: var(--rwall-dim) !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    border-radius: 10px;
    color: var(--rcol-fg) !important;
}

header.mobile-header {
    background: none !important;
}

div.highlight {
    background: rgba(var(--rrgb-bg), 0.7) !important;
}

.sidebar-drawer {
    background: rgba(var(--rrgb-bg), 0.5);
}

a.reference-internal { color: var(--rcol-blue) !important; }

p,
xxx { color: var(--rcol-fg) !important; }

h1 {
    color: var(--rcol-fg) !important;
}

h2 {
    background: none !important;
    color: var(--rcol-purple) !important;
}

h3 {
    color: var(--rcol-orange) !important;
}

/* syntax */
span.n { color: var(--rcol-fg) !important; }
span.nb { color: var(--rcol-red) !important; }
span.cp { color: var(--rcol-aqua) !important; }
span.nn { color: var(--rcol-fg) !important; }
span.nv { color: var(--rcol-orange) !important; }
span.s { color: var(--rcol-yellow) !important; }
span.mf { color: var(--rcol-blue) !important; }
span.mb { color: var(--rcol-blue) !important; }
span.kd { color: var(--rcol-purple) !important; }
span.nd { color: var(--rcol-orange) !important; }
span.mi { color: var(--rcol-blue) !important; }
span.o { color: var(--rcol-blue) !important; }
span.c1 { color: var(--rcol-mg) !important; }
span.nf { color: var(--rcol-green) !important; }
span.l { color: var(--rcol-fg) !important; }
