* { border-color: #0000 !important; }

header.mzp-c-navigation.sumo-nav {
    display: none;
}

div#main-content {
    background-image: var(--rwall-dim) !important;
    background-color: var(--rcol-bg) !important;
    background-size: 1730px !important;
    background-position: -63px -135px !important;
    background-attachment: fixed !important;
}

h1,
h2,
h3,
div,
span,
button,
xxx { color: var(--rcol-fg) !important; }

div#toc,
span.menu,
div.note {
    background: rgba(var(--rrgb-fg), 0.05) !important;
}

footer,
xxx { display: none !important; }
