* { border: none !important; }

:root {
    --color-neutral-background: #0000 !important;
}

section#right-sidebar-container,
comment-body-header,
faceplate-img.shreddit-subreddit-icon__icon,
faceplate-loader,
header.v2,
div.threadline,
nav,
span.flex,
xxx { display: none !important; }

shreddit-app {
    background-image: var(--rwall-dim) !important;
    background-size: 1700px !important;
    background-position: -62px -130px !important;
    background-attachment: fixed !important;
}

h1,
p,
button,
pre,
xxx { color: var(--rcol-fg) !important; }

time { color: var(--rcol-mg) !important; }

a { color: var(--rcol-blue) !important; }
a:visited { color: var(--rcol-purple) !important; }
.text-secondary-weak, span { color: var(--rcol-purple) !important; }

code,
pre,
xxx { background: rgba(var(--rrgb-fg), 0.2) !important; }

.bg-neutral-background { background-color: #0000 !important; }
shreddit-post,
shreddit-comment-tree {
    background: #0000 !important;
    color: var(--rcol-fg) !important;
    border-radius: 10px !important;
}

img { border-radius: 10px !important; }
