div.web-app-emotion-cache-171xq5h,
div.web-app-emotion-cache-8qb8m4, /* discover more */
section#browse,
section.web-app-emotion-cache-tm0nuy.css-na2wzy, /* footer about risky options */
section.web-app-emotion-cache-1c43rr7.css-na2wzy, /* stupid ass notices at homepage */
._3VgtNTJk4xjbgN0dDvs4U9 > :not(:last-child),
xxx { display: none !important; }

div._3sbUrrmoSkcTz1WFZ1cZ85.web-app-emotion-cache-1c2h776,
.css-1obtdhg,
header,
footer,
div,
._9PELkfdg02DcCLivR8Uqp,
._3bWZiHt8XX1rkUAlbwhykT,
.web-app-emotion-cache-phcsj6,
.web-app-emotion-cache-o37a5p,
xxx { border: none !important; }

.css-187nyy8,
.XzyC-hUeuhJpKibZShdJi,
.css-p39x3b,
xxx { background: none !important; }


/* margin on search bar in header */
div._1zE1DEKKkb_B8-dvy2eaio {
    margin-right: 20px;
}

/* search bar image */
div.web-app-emotion-cache-dmdcmo,
div.web-app-emotion-cache-yijh55 {
    background-image: var(--rwall-blur) !important;
    background-size: 1480px !important;
    background-position: -54px -115px !important;
    background-attachment: fixed !important;
    border: none !important;
}

span.css-y3z1hq { /* position price */
    color: var(--rcol-purple);
}
.css-1ezzyzy { /* position name */
    color: var(--rcol-aqua);
}

td {
    font-weight: bolder;
    font-style: italic;
}

/* page wallpaper */
body {
    background-image: var(--rwall-dim) !important;
    background-size: 1480px !important;
    background-position: -54px -115px !important;
    background-attachment: fixed !important;
}

/* make top bar transparency not trash */
nav { backdrop-filter: blur(5px); }

/* navigation header on options page */
.css-1lunh3z {
    transform: translatex(-25px);
    padding-left: 25px;
    
    border: none !important;
    border-radius: 0px 0px 7px 0px;
    
    backdrop-filter: blur(5px);
    background-color: var(--rh__neutral-bg1);
}
button.web-app-emotion-cache-mci95e {
    transform: translateX(-50px);
}

/* options chain list item */
.web-app-emotion-cache-1d0isf8:hover {
    background: rgba(var(--rrgb-bg), 0.3) !important;
}
.web-app-emotion-cache-1d0isf8 {
    background: none !important;
}

/* current share price button on options chain*/
.web-app-emotion-cache-1bmfmxo:hover {
  --rh__primary-base: rgba(var(--rrgb-orange), 0.9);
  --rh__primary-light-base: rgba(var(--rrgb-orange), 0.9);
  --rh__primary-lightest-base: rgba(var(--rrgb-orange), 0.9);
}
.web-app-emotion-cache-1bmfmxo {
  --rh__primary-base: var(--rcol-orange);
  --rh__primary-light-base: var(--rcol-orange);
  --rh__primary-lightest-base: var(--rcol-orange);
}
.web-app-emotion-cache-sz68n7.css-v72tci {
    --rh__text-color: var(--rcol-fg) !important;
}

/* overnight profit */
.css-18n9rjt { background-image: linear-gradient(272.3deg, var(--rcol-blue) 9.1%, var(--rcol-aqua) 73.54%); }

/* overnight loss */
.css-1wy3727,
.css-ti7l7w { background-image: linear-gradient(272.3deg, var(--rcol-orange) 9.1%, var(--rcol-yellow) 73.54%); }

/* green primary */
span,
html,
body {
    --rh__primary-base: var(--rcol-aqua) !important;
    --rh__primary-hover:  rgba(var(--rrgb-aqua), 0.8) !important;
    --rh__primary-pressed:  rgba(var(--rrgb-aqua), 0.5) !important;
    --rh__primary-light-base: rgba(var(--rrgb-aqua), 0.3) !important;
    --rh__primary-lightest-base: rgba(var(--rrgb-aqua), 0.1) !important;
      
    --rh__primary-light-textOverlay: var(--rcol-aqua) !important;
    --rh__primary-lightest-textOverlay: var(--rcol-aqua) !important;
    --rh-LEGACY__primary-color-hover: var(--rcol-aqua) !important;
}

/* red primary */
div {
    --rh__primary-base: var(--rcol-orange) !important;
    --rh__primary-hover:  rgba(var(--rrgb-orange), 0.8) !important;
    --rh__primary-pressed:  rgba(var(--rrgb-orange), 0.5) !important;
    --rh__primary-light-base: rgba(var(--rrgb-orange), 0.3) !important;
    --rh__primary-lightest-base: rgba(var(--rrgb-orange), 0.1) !important;
      
    --rh__primary-light-textOverlay: var(--rcol-orange) !important;
    --rh__primary-lightest-textOverlay: var(--rcol-orange) !important;
    --rh-LEGACY__primary-color-hover: var(--rcol-orange) !important;
}

/* general colors */
* {
    color: var(--rcol-fg);
    --rh__text-color: var(--rcol-fg);
    
    --rh__size-palette__borderRadius: 13px !important;
    
    --rh__hoverable-color-30-33-36-none: rgba(var(--rrgb-fg), 0.1) !important;
    --rh__hoverable-color-0-0-0-none: rgba(var(--rrgb-fg), 0.1) !important;
    --rh__hoverable-color-255-255-255-none: rgba(var(--rrgb-fg), 0.1) !important;
    
    --rh__primary-textOverlay: rgba(var(--rrgb-bg), 0.5) !important;
      
    --rh__semantic-positive-base: var(--rcol-green) !important;
    --rh__semantic-positive-light: rgba(var(--rrgb-green), 0.3) !important;
      
    --rh__semantic-negative-base: var(--rcol-red) !important;
    --rh__semantic-negative-light: rgba(var(--rrgb-red), 0.3) !important;
      
    --rh__semantic-success-base: var(--rcol-green) !important;
    --rh__semantic-success-light: rgba(var(--rrgb-green), 0.3) !important;
      
    --rh__semantic-error-base: var(--rcol-red) !important;
    --rh__semantic-error-light: rgba(var(--rrgb-red), 0.3) !important;
      
    --rh__semantic-scary-base: var(--rcol-red) !important;
    --rh__semantic-scary-light: rgba(var(--rrgb-red), 0.3) !important;
      
    --rh__neutral-fg1: var(--rcol-t7) !important;
    --rh__neutral-fg2: var(--rcol-t6) !important;
    --rh__neutral-fg3: var(--rcol-t5) !important;
    --rh__neutral-bg3: rgba(var(--rrgb-t2), 0.4) !important;
    --rh__neutral-bg2: rgba(var(--rrgb-t1), 0.4) !important;
    --rh__neutral-bg1: rgba(var(--rrgb-t0), 0.6) !important;
      
    --rh__neutral-hover-fg1: var(--rcol-t6) !important;
    --rh__neutral-hover-fg2: var(--rcol-t5) !important;
    --rh__neutral-hover-fg3: var(--rcol-t4) !important;
    --rh__neutral-hover-bg1: rgba(var(--rrgb-t3), 0.4) !important;
    --rh__neutral-hover-bg2: rgba(var(--rrgb-t2), 0.4) !important;
    --rh__neutral-hover-bg3: rgba(var(--rrgb-t1), 0.4) !important;
      
    --rh__neutral-pressed-fg1: var(--rcol-t5) !important;
    --rh__neutral-pressed-fg2: var(--rcol-t4) !important;
    --rh__neutral-pressed-fg3: var(--rcol-t3) !important;
    --rh__neutral-pressed-bg1: rgba(var(--rrgb-t4), 0.4) !important;
    --rh__neutral-pressed-bg2: rgba(var(--rrgb-t3), 0.4) !important;
    --rh__neutral-pressed-bg3: rgba(var(--rrgb-t2), 0.4) !important;
      
    --rh__shadow__s1: rgba(var(--rrgb-bg), 0.06) !important;
    --rh__shadow__s2: rgba(var(--rrgb-bg), 0.02) !important;
    --rh__focus-inner-color: var(--rcol-blue) !important;
    --rh__focus-outer-color: rgba(var(--rrgb-blue), 0.25) !important;
}
