div,
fieldset,
a.problem_number,
button,
.ui-state-active, .ui-widget-content, .ui-widget-header,
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.problem-subpoint h5 span,
.editor_toolbar td.button,
td,
th,
xxx { border: none !important; }
* { box-shadow: none !important; }

.rsm-latex-mark {
    border-color: var(--rcol-fg) !important;
}

.global-container {
    transform: translate(0px, -40px) !important;
}

a.navbar-brand.rsm-logo,
div.top-badge-wrapper,
img,
div.badges-showcase,
span.badge,
div.logout-menu,
nav.navbar,
a.print,
a.next,
.editor_close_button,
a.previous,
span.grade_icon,
div.comment-section,
span.homework-condition,
span.glyphicon,
button.btn.btn-sm.help,
div.assignment-files,
a.ng-binding.ng-scope,
span.help-button-loader,
span.grade-button-loader,
div.help-ref-hint,
div.page-header.assignment-header.ng-scope, /* badges n shit */
xxx { display: none !important; }

/* loading screen */
div#loader-wrapper {
    scale: 1000;
}

h5.problem-label {
    background: #0000 !important;
    text-shadow: none !important;
}

svg {
    border-radius: 10px !important;
    filter: invert(0.9) sepia(0.5) !important;
}

div.svg-html-wrapper {
    display: flex !important;
    transform: translate(50%, 0px) !important;
    margin: 0px !important;
    padding: 0px !important;
}

span.cursor {
    border-color: var(--rcol-fg) !important;
}

tr.ng-scope {
    height: 60px !important;
}

/* the thing that says "your score" */
.progress-bar-section {
    background-image: var(--rwall-blur) !important;
    background-attachment: fixed !important;
    background-size: 1600px !important;
    background-position: -58px -86px !important;
}

div.problem-question {
    margin: 0px !important;
    padding: 0px !important;
}

div.left-column.col-sm-3 {
    width: 240px !important;
    min-width: 240px !important;
    max-width: 240px !important;
    margin-bottom: 7px !important;
    margin-right: 0px !important;
}
div.problem-section {
    min-width: 0px !important;
    display: block !important;
    margin: 0px 0px 700px 7px !important;
}

button,
.btn-default {
    background: rgba(var(--rrgb-bg), 0.7) !important;
    color: var(--rcol-purple) !important;
}

.problem_number.score--1 { background: rgba(var(--rrgb-bg), 0.1) !important; color: var(--rcol-fg) !important; }
.problem_number:hover { background: rgba(var(--rrgb-bg), 0.3) !important; }

.problem_number.selected { background: rgba(var(--rrgb-bg), 0.6) !important; color: var(--rcol-fg) !important; }
.problem_number.incorrect { background: rgba(var(--rrgb-red), 0.3) !important; color: var(--rcol-red) !important; }
.problem_number.correct { background: rgba(var(--rrgb-green), 0.3) !important; color: var(--rcol-green) !important; }
.problem_number.half_credit { background: rgba(var(--rrgb-yellow), 0.3) !important; color: var(--rcol-yellow) !important; }

.problem_number:hover,
.problem_number {
    border-radius: 7px !important;
    margin: 2.874999px !important;
    padding: 0px !important;
    width: 16.99%;
}

/* main bg */
div.global-container {
    background-image: var(--rwall-dim) !important;
    background-attachment: fixed !important;
    background-size: 1600px !important;
    background-position: -58px -86px !important;
}

td.sqrt-body {
    border-color: var(--rcol-fg) !important;
}

.table-border,
#home-assignments,
.table-striped > tbody > tr:nth-of-type(2n+1),
xxx { background: #0000 !important; }

h1,
h5,
.score-heading, .score-value,
span,
output,
body,
xxx { color: var(--rcol-fg) !important; }

.editor_toolbar td.button:hover {
    background: rgba(var(--rrgb-fg), 0.1) !important;
    border-radius: 7px !important;
}
.editor_toolbar td.button {
    background: #0000 !important;
    color: var(--rcol-fg) !important;
    margin: 3px !important;
    padding: 3px !important;
}
.ui-state-default:hover, .ui-widget-content .ui-state-default:hover, .ui-widget-header .ui-state-default:hover {
    background: rgba(var(--rrgb-fg), 0.1) !important;
}
.ui-state-active:hover, .ui-widget-content .ui-state-active:hover, .ui-widget-header .ui-state-active:hover,
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: rgba(var(--rrgb-fg), 0.2) !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #0000;
    border-radius: 5px !important;
}
#editor_pad_v2 {
    background: var(--rcol-bg) !important;
    width: 300px !important;
    border-radius: 10px !important;
}
#editor_pad_v2_help { display: none !important; }

#editor_pad_v2 .ui-widget-header {
    background: #0000 !important;
}

div.alert {
    background: rgba(var(--rrgb-yellow), 0.2) !important;
    color: var(--rcol-fg) !important;
    border-radius: 7px !important;
}
.mathquill-rendered-math .empty,
div.assignment-files,
fieldset,
.mathquill-editable,
.problem-section {
    color: var(--rcol-fg) !important;
    background: rgba(var(--rrgb-fg), 0.03) !important;
}

.navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li.active > a:hover, .navbar-default .navbar-nav > li.active > a:focus {
    background: rgba(var(--rrgb-fg), 0.1) !important;
}
