body {
    background-image: var(--rwall-dim) !important;
    background-size: cover !important;
    background-attachment: fixed !important;
}

div.CodeMirror-lines,
div.CodeMirror-gutter,
div.CodeMirror-gutter.CodeMirror-lint-markers,
div.CodeMirror-gutter.CodeMirror-linenumbers,
div.CodeMirror-gutter.CodeMirror-foldgutter,
div.CodeMirror,
div.CodeMirror-linenumber,
div.section {
    background: rgba(var(--rrgb-bg), 0.05) !important;
    border: none !important;
}

label.code-label {
    background: rgba(var(--rrgb-fg), 0.3) !important;
    color: var(--rcol-fg) !important;
}

#header {
    background: #0000 !important;
    box-shadow: none !important;
    color: var(--rcol-fg) !important;
}

button {
    background: rgba(var(--rrgb-bg), 0.3) !important;
    color: var(--rcol-fg) !important;
    border-color: var(--rcol-mg) !important;
}

button#save-button {
    background: rgba(var(--rrgb-fg), 0.7) !important;
    color: var(--rcol-bg) !important;
    border: none !important;
}

.sectioned.body,
select,
input {
    border: none !important;
    background: rgba(var(--rrgb-fg), 0.1) !important;
    color: var(--rcol-fg) !important;
}

a { color: var(--rcol-blue) !important; }
a:visited { color: var(--rcol-purple) !important; }
